.catagorieshover {
    transition: all 2s ease;
}

.catagorieshover:hover {
    cursor: pointer;
}

.catagorieshover:hover img {
    transform: scale(1.5);
}

#top-list .card {
    position: relative;
}

.back-card {
    position: absolute;
    top: 130px;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(235, 86, 86);
    color: #fff;
    transition: all 0.5s ease-in;
}

#top-list .card:hover .back-card {
    top:0px;
    background-color: rgb(235, 86, 86);
}

/* distict */


/*
flip card
*/
.card-flip > div {
    backface-visibility: hidden;
    transition: transform 300ms;
    transition-timing-function: linear;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
  }
  
  .card-front {
    transform: rotateY(0deg);
  }
  
  .card-back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
  }
  
  .card-flip:hover .card-front {
    transform: rotateY(-180deg);
  }
    
  .card-flip:hover .card-back {
    transform: rotateY(0deg);
  }